{% extends "wizard/base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "Advocate someone" %}</h1>

{% if request.user.is_authenticated %}

  <form action="" class="mb-3" method="POST">{% csrf_token %}
    <p>{% trans "Who do you want to advocate? I can search names, nicknames, and OpenPGP key fingerprints." %}</p>
    {{form.as_p}}
    <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
  </form>

  {% if processes %}
  <p>{% trans "These people are ready to be advocated; click on a name to go to the advocacy page:" %}</p>

  <table class="table tables-sm">
    <thead>
        <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "UID" %}</th>
        <th>{% trans "OpenPGP fingerprint" %}</th>
        <th>{% trans "Current status" %}</th>
        <th>{% trans "Applying for" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for process, adv in processes.items %}
      {% with process.person as person %}
      <tr>
        <td><a href="{{adv}}">{{person.fullname}}</a></td>
        <td>{{person.ldap_fields.uid}}</td>
        <td>{{person.fpr|fingerprint}}</td>
        <td>{{person|desc_status}}</td>
        <td>{{process.applying_for}}</td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  {% endif %}


  {% if people %}
  <p>{% blocktrans %}These people have not currently applied to change their status in Debian. If
  the person you want to advocate is in this list, they need to request a new
  status first:{% endblocktrans %}</p>

  <table class="table table-sm">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "UID" %}</th>
        <th>{% trans "OpenPGP fingerprint" %}</th>
        <th>{% trans "Current status" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
      <tr>
        <td><a href="{{person.get_absolute_url}}">{{person.fullname}}</a></td>
        <td>{{person.ldap_fields.uid}}</td>
        <td>{{person.fpr|fingerprint}}</td>
        <td>{{person|desc_status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% else %}
<p class="lead">{% trans "This wizard only works when you are logged into the site" %}</p>
{% endif %}

{% if request.signon_identities %}
{% include "wizard/whoami.html" %}
{% endif %}

{% endblock %}

