{% load nm %}
{% load i18n %}

<table class="proctable tablesorter table table-sm">
{% if not skip_caption %}<caption>{% trans "Old-style processes" %}</caption>{% endif %}
    <thead>
        <tr>
            <th>{% trans "Applicant" %}</th>
            <th>{% trans "From" %}</th>
            <th>{% trans "To" %}</th>
            <th>{% trans "Applying for" %}</th>
            <th>{% trans "Progress" %}</th>
            <th>{% trans "AM" %}</th>
            <th>{% trans "Advocate(s)" %}</th>
    </thead>
    <tbody>
        {% for p in processes %}
        <tr>
        <td><a href="{{ p.get_absolute_url }}" title="{{p.person.fullname}}">{{p.person.ldap_fields.uid|default:p.person.fullname}}</a></td>
            <td val="{{p.started|date:'Y-m-d'}}">{{p.started.date}}</td>
            <td val="{{p.started|date:'Y-m-d'}}">{{p.ended.date}}</td>
            <td>{{p.applying_for|desc_status}} ({{p.is_active|yesno:"in progress,done"}})</td>
            <td>{{p.progress|desc_progress}}</td>
            <td>
                {% if p.manager %}
                <a href="{{ p.manager.get_absolute_url }}" title="{{p.manager.person.fullname}}">{{p.manager.person.ldap_fields.uid|default:"None"}}</a>
                {% else %}
                {% trans "None" %}
                {% endif %}
            </td>
            <td>
                {% for a in p.advocates.all %}
                <a href="{{ a.get_absolute_url }}" title="{{a.person.fullname}}">{{a.person.ldap_fields.uid}}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

